<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-order-heading" data-cy="OrderCreateUpdateHeading" jhiTranslate="cakeOrderingApplicationApp.order.home.createOrEditLabel">
        Create or edit a Order
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cakeOrderingApplicationApp.order.status" for="field_status">Status</label>
          <select class="form-control" name="status" formControlName="status" id="field_status" data-cy="status">
            <option [ngValue]="null">{{ 'cakeOrderingApplicationApp.Status.null' | translate }}</option>
            <option *ngFor="let status of statusValues" [value]="status">
              {{ 'cakeOrderingApplicationApp.Status.' + status | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cakeOrderingApplicationApp.order.collectionDate" for="field_collectionDate"
            >Collection Date</label
          >
          <div class="input-group">
            <input
              id="field_collectionDate"
              data-cy="collectionDate"
              type="text"
              class="form-control"
              name="collectionDate"
              ngbDatepicker
              #collectionDateDp="ngbDatepicker"
              formControlName="collectionDate"
            />
            <button type="button" class="btn btn-secondary" (click)="collectionDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cakeOrderingApplicationApp.order.customerName" for="field_customerName"
            >Customer Name</label
          >
          <input
            type="text"
            class="form-control"
            name="customerName"
            id="field_customerName"
            data-cy="customerName"
            formControlName="customerName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cakeOrderingApplicationApp.order.customerPhone" for="field_customerPhone"
            >Customer Phone</label
          >
          <input
            type="text"
            class="form-control"
            name="customerPhone"
            id="field_customerPhone"
            data-cy="customerPhone"
            formControlName="customerPhone"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cakeOrderingApplicationApp.order.customerAdress" for="field_customerAdress"
            >Customer Adress</label
          >
          <input
            type="text"
            class="form-control"
            name="customerAdress"
            id="field_customerAdress"
            data-cy="customerAdress"
            formControlName="customerAdress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="cakeOrderingApplicationApp.order.cake" for="field_cake">Cake</label>
          <select class="form-control" id="field_cake" data-cy="cake" name="cake" formControlName="cake" [compareWith]="compareCake">
            <option [ngValue]="null"></option>
            <option [ngValue]="cakeOption" *ngFor="let cakeOption of cakesSharedCollection">{{ cakeOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
